

.text-preview {


    font-size: 18px;
    line-height: 13px;
    font-family: 'Lora, serif';
}

 p{
 	
	text-align: left;
} 

.text-preview .paragraph {
	text-indent: 50px;
}

.text-preview span {
	padding: 0 4px;
	box-sizing: border-box;
}

.text-preview .active {
	border: 1px solid red;
}

.text-preview .selected {
	background-color: rgba(138, 0,0,0.5)
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}